<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>HTMinIL @DateTime.Now</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body id="home">
        <p>Some static text... </p>
        <!-- Some html comment -->
        <div>
            <h1>
                @DateTime.Now
            </h1>
            <br />
            <p>
                &nbsp;
                &nbsp;
            </p>
            <!--[if IE]>Preserve this IE conditional.<![endif]-->
            <a href = "//example.com"></a>
        </div>
        <!--
            Multiline
            html comment
        -->
    </body>
    @* Razor Comment *@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    @*
        Multiline Razor Comment
    *@
    <script type="text/javascript">
        var some_inline = "javascript";
    </script>
</html>
